agro_venv/
__pycache__
*.pyc
*DS_Store
data/
models/fold1
models/fold2
models/fold3
models/predict
*.ipynb_checkpoints
torchvision
onnxsim-setup
!models/yolov7/
!models/yolov7/runs
!models/yolov7/runs/train
!models/yolov7/runs/train/**
